.submenuGroups {
	padding-left: 25%;
}

.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}

.tooltip-inner {
    white-space:pre-wrap;
}

#kapitel-btn {
    padding-left: 5px;
}
